<h1>THÔNG TIN CUỘC HẸN CỦA BẠN</h1>
<strong>Thông tin bạn đã đăng ký</strong>

<div class="container-fluid">
	<div class="left jumbotron">
		<p class="text-muted">Tên bệnh nhân: <%= @name %></p>
		<p class="text-muted">Số điện thoại: <%= @phone %></p>
		<p class="text-muted">Email: <%= @email %></p>
		<p class="text-muted">Địa chỉ: <%= @location_address %></p>
		<p class="text-muted">Tuổi: <%= @age %></p>
		<p class="text-muted">Khám tại khoa: <%= @deparment %></p>
		<p class="text-muted">Bệnh viện: <%= @hopital_name %></p>
		<p class="text-muted">Địa chỉ bệnh viện: <%= @hopital_address %></p>
		<p class="text-muted">Thời gian dự kiến: <%= @time %></p>
		<p class="text-muted">Triệu chứng ban đầu: <%= @description %></p>
	</div>
</div>
