<div id="home" class="header">
  <div class="top-header">
    <div class="container">
      <div class="logo">
        <%= link_to "Healthy App", 'http://rubyonrails.org/' %>
      </div>
      <!-- start-top-nav -->
      <nav class="top-nav">
        <ul class="top-nav">
          <li class="active"><%= link_to "Home", '#home', class:"scroll" %></li>
          <li><%= link_to "About", '#about', class:"scroll" %></li>
          <li><%= link_to "Services", '#services', class:"scroll" %></li>
          <li><%= link_to "Team", '#team', class:"scroll" %></li>
          <li><%= link_to "Contact", '#contact', class:"scroll" %></li>
        </ul>
        <%= link_to image_tag("menu-icon.png", alt: "Menu Icon"), 'http://rubyonrails.org/', id:"pull" %>
      </nav>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
